body {
    background-color: #0d1117;
}
.bg-grey-dark {
    background-color: #0d1117;
}
.bg-grey {
    background-color: #161b22;
}

.border-grey {
    border: 1px solid #21262d;
}

.border-bottom-grey {
    border-bottom: 1px solid #30363d;
}

.text-grey-light {
    color: #c9d1d9;
}
.text-grey-dark {
    color: #8b949e;
}


.button {
    height: 28px;
    cursor: pointer;
    text-align: center;
    align-items: flex-start;
    user-select: none;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    color: #c9d1d9;
    background-color: #21262d;
    border-color: #30363d;
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color, background-color , border-color;
}

.button:hover {
    border-color: #c9d1d9;
}
