.repository-item {
    list-style: none;
    min-height: 120px;
  
}
.repository-link {
    text-decoration: none;
    color: #58a6ff !important; 
}
.repository-link:hover {
    text-decoration:underline;
}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.title {
    font-size: 20px;
}

.f6 {
    font-size: 12px!important;
    
}

.HTML {
    background-color: #e34c26;
}

.JavaScript {
    background-color: #f1e05a;
}

.Java {
    background-color: #b07219;
}

.TypeScript {
    background-color: #2b7489;
}

.PHP {
    background-color: #4F5D95;
}

